<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    <title> Home </title>
</head>
<body>
    
    <!-- main styling  and lighting -->
    <img src="light_up.png" class = "light">


    <!-- Navbar -->
    <div class="navbar"> 
        <img class="logo" src="logo.png">
        <ul class="nav">
            <li class="nav_item"> <a href="/logout"> Logout </a> </li>
        </ul>
    </div>


    <div class="container staff_add">
        <form action="/add_staff" method="post">
                <input type="text"  class="inp" name="id" placeholder="id">
                <input type="text"  class="inp" name="fname" placeholder="first name">
                <input type="text"  class="inp" name="lname" placeholder="last name">
                <input type="text"  class="inp" name="username" placeholder="username">
                <input type="text"  class="inp" name="password" placeholder="password">
                <input type="text"  class="inp" name="department" placeholder="department">
                <input type="text"  class="inp" name="salary" placeholder="salary">
                <input type="text"  class="inp" name="age" placeholder="age">
                <input type="text"  class="inp" name="shift" placeholder="shift">
                <input type="text"  class="inp" name="phone" placeholder="phone number">
                <input type="submit" value="add" class="btn">
        </form> 
    </div>
    

   


    <form action="/report">
        <input type="submit" value="!" class="report">   
    </form>


  







</body>
</html>