<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    <title> Home </title>
</head>
<body>
    
    <!-- main styling  and lighting -->
    <img src="light_up.png" class = "light">



    <!-- Navbar -->

    <div class="navbar"> 
        <img class="logo" src="logo.png">
        <ul class="nav">
            <li class="nav_item"> <a href="/"> Home </a></li>
            <li class="nav_item"> <a href="/patients"> Patients </a></li>
            <li class="nav_item"> <a href="/products"> Products </a></li>
            <li class="nav_item"> <a href="/needs"> Needs </a></li>
            <li class="nav_item"> <a href="/expires"> expires </a></li>
            <li class="nav_item"> <a href="/logout"> Logout </a> </li>
        </ul>
    </div>







    <!-- Home page : two sections first is the right one which is a form and the other is a vector   -->



    <div class="home">
        <form class="form" action="/add_to_cart" method="post">
            <h1> Pick an Item </h1>
            <input type="text" class="inp" placeholder="Product ID" name="product">
            <input type="text" class="inp patient" placeholder="Patient ID" name="patient">
            <input type="submit" value="Add To Cart" class="btn">
        </form>
        <form action="/buy" class="buy">
            <input type="submit" value="Buy">
        </form>


        <div class="vector"> <img src="home.png" > <img src="shadow_s.png" class = "shadow" > </div>

    </div>


    <form action="/report" method="get">
        <input type="submit" value="!" class="report">   
    </form>




</body>
</html>