<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    <title> Home </title>
</head>
<body>
    
    <!-- main styling  and lighting -->
    <img src="light_up.png" class = "light">



   <!-- right section in the home for the form and the logo  --> 
    <div class="right-sec">

        <div class="logo">
            <img src="logo.png" >
        </div>

            <form class="login" action="/login" method = "post"> 
                <h1> Login </h1>
                <input type="text" class = "inp" placeholder="User ID" name = "user_id">
                <input type="text" class = "inp"  placeholder="password" name="password">
                <input type="submit" class="btn" value="Submit">
            </form>


        <img src="shadow_s.png" class="shadow">
        


    </div>


    <div class="left-sec">
        <img src="login.png" class="vector">
        <img src="shadow_l.png" class="shadow2">
    </div>




    <form action="/report">
        <input type="submit" value="!" class="report">   
    </form>





</body>
</html>