.main{
    position: absolute;
    width: 90%;
    height: 70%;
    top: 25%;
    left: 10%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
}

.hedar{
    background-color: #7962ff ;
    width: 80%;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4em;
    padding: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.columns{
    list-style: none;
}

.sub_col{
    width: 80%;
    color:#030612;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4em;
    padding: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.sub_data{
    width: 100%;
    position: absolute;
    top: 10%;
}

.delete{
    list-style: none;
    position: absolute;
    right: 15%;
    font-size: 1.5em;
    margin-top: -50px;

}

.delete a:hover{
    color: red;
}

.edit{
    list-style: none;
    position: absolute;
    right: 10%;
    font-size: 1.5em;
    margin-top: -50px;
}

.edit a:hover{
    color: rgb(7, 171, 7);
}


.container{
    position: absolute;
    width: 30%;
    height: 80%;
    left: 35%;
    top: 30%;
}

.it{
    margin-top: -80px;
}

.add{
    position: absolute;
    top: 80%;
    left: 50%;
    padding-top: 20px;
    padding-left: 20px;
}

.staff_add{
    position: absolute;
    top: 10%;
}